body.landing {
    background-color: rgb(58,23,63);
}

.hero-content {
    position: relative;
    min-height: 430px;
    background-image: url(../assets/images/bloc_jams_bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-title {
    position: absolute;
    top: 67%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

/* Medium screens (640px) */
@media (max-width: 640px) {
  .hero-content .hero-title {
      position: absolute;
      top: 47%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      font-size: 2.3rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-shadow: 1px 1px 0px rgb(58,23,63);
  }

  .hero-content .hero-title2 {
      position: absolute;
      top: 65%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      text-shadow: 1px 1px 0px rgb(58,23,63);
  }
}

.hero-content .hero-title2 {
    position: absolute;
    top: 77%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.selling-points {
    position: relative;
}

.point {
    margin-top:-25px;
    position: relative;
    text-align: center;
     -webkit-transform: scaleX(0.9) translateY(3rem);
     -moz-transform: scaleX(0.9) translateY(3rem);
     transform: scaleX(0.9) translateY(3rem);
     -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
     transition-delay: 0.2s;
}

.point  .point-title {
    font-size: 1.25rem;
}

.ion-ios-musical-note,
.ion-android-laptop,
.ion-android-walk,.ion-android-checkmark-circle {
    color: rgb(233,50,117);
    font-size: 4rem;
}
