.profile {
  background-color: rgba(192,192,192,0.2);
}

.profile-content {
  font-size: 16px;
width: 85%;
margin-left: 7%;
padding-bottom: 10px;
}

.profile-img {
  float: left;
position: relative;
padding-right: 25px;
padding-top: 25px;
}

.profile-details a {
  color:pink;
  text-decoration: none;
}

.profile-details i{
  color: papayawhip;
}

.profile-details {
  position: relative;
  padding-top: 2px;
}

.profile-content h2 {
  font-size: 22px;
}

.profile-content p {
  line-height: 27px;
}


 @media (max-width: 640px) and (min-width: 320px) {
     .album-view-details {
         text-align: center;
     }

     .album-view-title {
         margin-top: 0;
     }
 }

 /* #3 */
 @media (max-width: 1024px) and (min-width: 320px) {
    .album-view-song-list {
         position: relative;
         top: 1rem;
         width: 80%;
         margin: auto;
     }
 }
