<section class="hero-content">
    <h1 class="hero-title">{{ landing.heroTitle }}</h1></br>
    <h3 class="hero-title2">{{ landing.heroTitle2 }}</h3>
</section>
<section class="selling-points container clearfix">
    <div class="point column third">
        <span class="ion-ios-musical-note"></span>
        <h5 class="point-title">Biggest Collection</h5>
        <p class="point-description">The biggest collection of artists and genres.</p>
    </div>
    <div class="point column third">
        <span class="ion-android-laptop"></span>
        <h5 class="point-title">Download Your Jams</h5>
        <p class="point-description">You won't have to drive to the record store.</p>
    </div>
    <div class="point column third">
        <span class="ion-android-checkmark-circle"></span>
        <h5 class="point-title">Navigate Easy</h5>
        <p class="point-description">New Previous and Next buttons for songs.</p>
    </div>
    <div class="point column third">
        <span class="ion-android-walk"></span>
        <h5 class="point-title">Listen on the Go</h5>
        <p class="point-description">Imagine a world without power cables!</p>
    </div>
</section>
