<section class="profile">
<div class="profile-content">
  <div class="profile-img">
    <img style="float:left;" width="300px" src="../assets/images/profilePic.jpg">
  </div>
  <div class="profile-details">
  <h2>Could something as measly as telling your story obliterate that wall you’ve hit with growing your audience?</h2>
  <h4>I’m gonna say yes.</h4>
<p>(And I’ve got a feeling you want to say yes too.)</p>
<h3>HERE’S WHY:</h3>
<p>When you’re releasing a brand online, your story is all you’ve got to make someone notice you.  Because even the best marketing campaign in the world won’t get people excited.  YOUR story does that!</p>
<p>With a good story and good tactics, you make your consumers want you.
You delight the heck out of them and they actually bookmark your project rather than writing it off as “another possible <i>[insert type of product/brand]</i>.”  With a good story, you make a hard-hitting first impression that your competitors sure as hell can’t beat.</p>
<h3>Turn your brand into a money-making machine.</h3>
<p>Show your boss that you knew what they heck you were talking about all along.  And you become the hero.  The hero that finally obliterated that invisible wall that was holding you back.</p>
<p>Sound interesting? Email me at <a href="mailto:diego@stellanorthmedia.com">diego@stellanorthmedia.com</a>.</p>
</div>
<div style="display:clear;"></div>
</div>
</section>
